img {
  display: block;
  border: solid #000 1px;
  max-width: 90vw;
  margin: auto;
  margin-top: 10px;
}
#recent {
  overflow: scroll;
  height: 200px;
  border: solid #000 1px;
}
body {
  font-family: 'Montserrat Subrayada', sans-serif;
}
